.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
    border: inherit !important;

    
    .card-header:first-child {
        border-radius: 2px 2px 0 0;
    }

    .card-header {
        background: none;
        padding: 1rem 1.5rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        background-color: transparenrt;
        border-bottom: 1px solid #eaedf1;

        .card-title {
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 500;
        }

        h3, .h3 {
            font-family: inherit;
            line-height: 1.1;
            color: inherit;
            margin-top: 0;
        }

        .card-options {
            margin-left: auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-order: 100;
            order: 100;
            margin-right: -0.5rem;
            color: #9aa0ac;
            -ms-flex-item-align: center;
            align-self: center;

            .card-options-collapse {
                margin-left: 8px;
                cursor: pointer;
            }

            .card-options-remove {
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 0;
        position: relative;
        padding: 25px;
        font-size: 14px;

        .brround {
            border-radius: 50% !important;
        }

        .cover-image {
            background-size: cover !important;
        }

        .avatar {
            display: inline-block;
            position: relative;
            text-align: center;
            color: #fff;
            font-weight: 500;
            vertical-align: bottom;
            font-size: 0.875rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .avatar-xxl {
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            font-size: 2rem;
        }

        .header-text-name {
            font-size: 1.125rem;
            font-family: inherit;
            font-weight: 400;
            line-height: 1.1;
            color: inherit;
        }

        
    }

    .card-body:last-child {
        margin-bottom: 0;
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }

    .card-footer, .card-bottom {
        padding: 1rem 1.5rem;
        background: none;
        border-top: 1px solid #eaedf1;
        color: #6e7687;

        .user-social-detail {
            margin: 0 auto;
            justify-content: center;

            .social-profile {
                cursor: pointer;
                height: 33px;
                width: 33px;
                background: rgb(98 89 202 / 10%);
                font-size: 13px;
                line-height: 2.4;
                padding: 1px;
            }

            .me-4 {
                margin-right: 1rem !important;
            }
        }
    }
}