.btn-dropdown-icon-primary, .btn-dropdown-icon-primary:hover {
    color: #fff !important;
    background-color: #6259ca !important;
    border-color: #6259ca !important;

    .icon-dropdown-icon-primary {
        align-items: center;
        justify-content: center;
        margin-right: 6px !important;
        height: 13px;
        color: #fff;
    }
}

.btn-dropdown-icon {
    color: #6259ca !important;
    background-color: #fff!important;
    border-color: #6259ca !important;

    .icon-dropdown-icon {
        align-items: center;
        justify-content: center;
        margin-right: 6px !important;
        height: 13px;
        color: #6259ca;
    }
}

.btn-dropdown-icon:hover {
    color: #fff !important;
    background-color: #6259ca !important;
    border-color: #6259ca !important;

    .icon-dropdown-icon {
        align-items: center;
        justify-content: center;
        margin-right: 6px !important;
        height: 13px;
        color: #fff;
    }
}

.btn-pill {
    border-radius: 10rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.dropdown-menu {
    border-radius: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 8;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    color: #495057;
    text-align: left;
    border: 1px solid #eaedf1;

    .dropdown-plus-title {
        width: 100% !important;
        color: #0d0c22 !important;
        padding: 6px 12px !important;
        font-weight: 500 !important;
        border: 0 solid #eaedf1 !important;
        border-bottom-width: 1px !important;
        cursor: pointer !important;
    }
}