.accordion {
    .accordion-item:first-of-type {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;

        .accordion-button {
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }
    }

    .accordion-item {
        border: 1px solid #eaedf1;
        background-color: #fff;

        .accordion-header {
            margin-bottom: 0;

            .accordion-button {
                font-size: 15px;
                padding: 16px;
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                color: #212529;
                text-align: left;
                background-color: #fff;
                border: 0;
                border-radius: 0;
                overflow-anchor: none;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
                
                .collapsed {
                    background: transparent;
                    box-shadow: none;
                }
            }

            .accordion-button::after {
                height: 14px;
                background-image: none;
                content: url('https://api.iconify.design/feather/chevron-down.svg?height=14');
                flex-shrink: 0;
                width: 1.25rem;
                margin-left: auto;
                background-repeat: no-repeat;
                background-size: 1.25rem;
                transition: transform .2s ease-in-out;
            }

            .accordion-button:not(.collapsed)::after {
                background-image: none;
                transform: rotate(-180deg);
            }

            .accordion-button:focus {
                box-shadow: none;
                border-color: #eaedf1;
                z-index: 3;
            }

            .accordion-button:not(.collapsed) {
                color: #6259ca;
                box-shadow: none;
                background: rgb(98 89 202 / 10%);
            }
        }

        .accordion-body {
            font-size: 14px;
            padding: 1rem 1.25rem;
        }

        h2, .h2 {
            font-size: 1.75rem;
            font-family: inherit;
            font-weight: 400;
            line-height: 1.1;
            color: inherit;
            margin-top: 0;
        }
    }
}

button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
}