.tab-menu-heading {
    padding: 20px;
    border: 1px solid #eaedf1;
    border-bottom: 0;

    .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        padding: 0px;
        margin: 0px;

        .active-tab-style-two {
            background-color: rgb(98 89 202 / 10%);
            border-radius: 5px;
            color: #6259ca;
            cursor: pointer;
            border-bottom: 3px solid #6259ca;
        }

        .tabs-top-style-two {
            padding: 10px 20px 11px;
            display: block;
        }

        .tabs-top-style-two:hover {
            background-color: rgb(98 89 202 / 10%);
            border-radius: 5px;
            color: #6259ca;
            cursor: pointer;
        }
    }
}

.panel-body-tabs {
    padding: 15px;
}

.tabs-menu-body {
    border: 1px solid #eaedf1;

    .tabs-para-2 {
        margin-bottom: 0 !important;
    }
}