.btn-group-split-border-right-default {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #e9f1f9 !important;
}

.btn-group-split-border-left-default {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #e9f1f9 !important;
}

.btn-group-split-border-right-primary {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #6259ca !important;
}

.btn-group-split-border-left-primary {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #6259ca !important;
}

.btn-group-split-border-right-success {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #35b9a6 !important;
}

.btn-group-split-border-left-success {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #35b9a6 !important;
}

.btn-group-split-border-right-info {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #469fde !important;
}

.btn-group-split-border-left-info {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #469fde !important;
}

.btn-group-split-border-right-warning {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #e5a623 !important;
}

.btn-group-split-border-left-warning {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #e5a623 !important;
}

.btn-group-split-border-right-danger {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #e62a45 !important;
}

.btn-group-split-border-left-danger {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #e62a45 !important;
}

.btn-default, .btn-default:hover, .btn-default:focus {
    color: #292828;
    background: #f6f4fb;
    border-color: #e9f1f9;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-primary-split-rounded-outline {
    color: #6259ca !important;
    background: #fff!important;
    border-color: #6259ca !important;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-primary-split-rounded-outline:hover {
    color: #fff !important;
    background: #6259ca !important;
    border-color: #6259ca !important;
}

.btn-success-split-rounded-outline {
    color: #35b9a6 !important;
    background: #fff!important;
    border-color: #35b9a6;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-success-split-rounded-outline:hover {
    color: #fff !important;
    background: #13bfa6 !important;
    border-color: #35b9a6 !important;
}

.btn-info-split-rounded-outline {
    color: #469fde !important;
    background: #fff!important;
    border-color: #469fde !important;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-info-split-rounded-outline:hover {
    color: #fff !important;
    background: #45aaf2 !important;
    border-color: #469fde !important;
}

.btn-warning-split-rounded-outline {
    color: #e5a623 !important;
    background: #fff !important;
    border-color: #e5a623;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-warning-split-rounded-outline:hover {
    color: #fff !important;
    background: #f7b731 !important;
    border-color: #e5a623;
}

.btn-danger-split-rounded-outline {
    color: #e62a45;
    background: #fff !important;
    border-color: #e62a45 !important;
    letter-spacing: 0.03em;
    font-size: 0.8125rem;
    min-width: 2.375rem;
}

.btn-danger-split-rounded-outline:hover {
    color: #fff !important;
    background: #f82649 !important;
    border-color: #e62a45 !important;
}

.btn-pill {
    border-radius: 10rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.dropdown-menu {
    border: 1px solid #eaf2f6;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);
    border-radius: 5px;
    min-width: 12rem;
    z-index: 8;
    float: left;
    padding: 5px 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    color: #495057;
    text-align: left;

    .dropdown-plus-title {
        display: flex;
        width: 100% !important;
        color: #0d0c22 !important;
        padding: 6px 12px !important;
        font-weight: 500 !important;
        border: 0 solid #eaedf1 !important;
        border-bottom-width: 1px !important;
        cursor: pointer !important;

        .icon-arrow-up-dropdown {
            height: 14px;
            width: 9px;
            align-self: center;
            margin-left: 4px;
        }
    }

    .dropdown-link {
        cursor: pointer;
        display: block;
        padding: 8px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.428571429;
        color: #76839a;
        white-space: nowrap;
    }

    .dropdown-link:hover, .dropdown-link:focus, .active-link {
        text-decoration: none;
        color: #76839a;
        background-color: rgb(98 89 202 / 10%);
    }

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #eaedf1;
    }
}