.card {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(169, 184, 200, 0.15);

    .card-header:first-child {
        border-radius: 2px 2px 0 0;
    }

    .card-header {
        background: none;
        padding: 1rem 1.5rem;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        background-color: transparent;
        border-bottom: 1px solid #eaedf1;

        .card-title:only-child {
            margin-bottom: 0;
        }

        .card-title {
            font-size: 1rem;
            font-weight: 500;
        }

        h3 {
            font-family: inherit;
            line-height: 1.1;
            color: inherit;
            margin-top: 0;
        }
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        margin: 0;
        position: relative;
        padding: 25px;
    }

    .card-body:last-child {
        margin-bottom: 0;
    }
}